<!DOCTYPE html>
<html>
  <head>
    <title>TicketsOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Parking Tickets</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Tickets <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Violation Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Officers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Streets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <%= form_with(url: search_tickets_path, method: :get, local: true) do %>
      <form>
        <div class="form-inline my-2 my-lg-0">
          <%= text_field_tag(:keywords, nil, class: "form-control mr-sm-2", placeholder: 'Search a ticket number')%>
          <%=submit_tag("Search", class: "btn btn btn-dark my-2 my-sm-0")%>
        </div>
      </form>
    <%end%>
  </div>
</nav>
    <%= yield %>
  </div>
  </body>
</html>
